extends layout

include _includes/sharedHTMLfunctions

block content
    .row
        .col-md-10
            .col-md-3
            a.btn.btn-primary.btn-md(href="/ideas/new") Post New Idea
            &nbsp;
            a.btn.btn-secondary.btn-md(href="/forum") Go to Forum
            .col-md-6s
                .row.page-header
                    .col-lg-12
                        h2 Your Ideas
                .row
                    .col-xs-12.col-md-12
                        .error= message
                        .row.list-group
                            each idea in ideas
                                .col-xs-12.list-group-item
                                    h4= idea.title
                                    p= "Ticker: " + idea.ticker
                                    span 
                                        +outputSentiment(idea.sentiment)
                                    p= idea.text
                                    small.reviewTimestamp
                                        +formatDate(idea.postedAt)
                                        br
                                    small 
                                        img.Upvotes(src="/images/thumbsUp.png" width="18" height="18" alt="Image size dimensions")
                                        &nbsp; 
                                        small= idea.voteCount
                                        br
                                        img.Comments(src="/images/commentIcon.png" width="20" height="20" alt="Image size dimensions")
                                        &nbsp;
                                        small= idea.comments.length
                                        br
                                        br
                                        a.btn.btn-warning.btn-md(href="/ideas/#{idea._id}") View Idea
                                        hr