extends layout

include _includes/sharedHTMLfunctions

block content
    .row.page-header
        .col-lg-12
            a.btn.btn-info.btn-md(href="/forum") Back to Forum
            hr
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-12.list-group-item
                    h4= idea.title
                    p= "Ticker: " + idea.ticker
                    span 
                        +outputSentiment(idea.sentiment)
                    p= idea.text
                    small= idea.postedBy
                    br
                    small.reviewTimestamp
                        +formatDate(idea.postedAt)
                    br
                    small 
                        img.Upvotes(src="/images/thumbsUp.png" width="18" height="18" alt="Image size dimensions")
                        &nbsp; 
                        small= idea.voteCount
                        br
                        img.Comments(src="/images/commentIcon.png" width="20" height="20" alt="Image size dimensions")
                        &nbsp;
                        small= idea.comments.length
                        hr
            .row
                .col-xs-4.list-group-item
                    h4 Comments:
                    .panel-body.review-container
                    each comment in idea.comments
                        .row
                        .comment
                            .well.well-sm.review-header
                            p !{(comment.commentText).replace(/\n/g, '<br/>')}
                            span.reviewAuthor &ensp; - #{comment.commentBy}
                            &ensp;
                            small.reviewTimestamp Posted: 
                                +formatDate(comment.commentAt)
                            hr
    .row
        .col-xs-12
        h4 Vote and Comment
            form.form-horizontal(action="/api/ideas/#{idea._id}/comments", method="POST", role="form")
                - if (error == "val")
                fieldset
                .form-group(show-errors='')
                .btn-group.btn-group-toggle(data-toggle='buttons')
                label.btn.btn-primary
                    input#option1(type='radio', name='vote', value='1', autocomplete='off')
                    |  Agree
                label.btn.btn-primary
                    input#option2(type='radio', name='vote', value='0', autocomplete='off')
                    |  Neutral
                label.btn.btn-primary.active
                    input#option3(type='radio', name='vote', value='-1', autocomplete='off')
                    |  Disagree

                .form-group
                    textarea#body.form-control(name='commentText', rows='3', placeholder='Your Comment Here', required='')
                button.btn.btn-success(type='submit') Submit
                button.btn.btn-danger(onclick="history.back()") Cancel